---
import { Tags } from "tabler-icons-react";
const { blog } = Astro.props;
---

<article class="w-1/2 h-32 flex flex-col gap-1 sm:gap-2">
    <figure>
        <a href={blog.id}>
            <img src={blog.eyecatch.url} class="rounded-sm w-full h-full"/>
        </a>
    </figure>
    <div class="flex items-center gap-2">
        <Tags size={"1.2rem"} color="" />
    </div>
    <a href={blog.id}>
        <h2 class="font-bold text-lg">{blog.title}</h2>
    </a>
</article>