<header class="w-full shadow-sm h-16 bg-white">
    <nav class="flex justify-between px-10 py-6">
        <div>
            <h1 class="font-bold text-sm"><a href="/">ASAHI NO NIWA</a></h1>
        </div>
        <ui class="list-none flex font-bold text-sm items-center">
            <li class="h-12"><a class="ps-2 h-full " href="/">Work</a></li>
            <li class="h-12"><a class="ps-2 h-full" href="/">Blog</a></li>
        </ui>
    </nav>
</header>