<header class="w-full shadow-md h-12">
    <nav class="flex justify-between px-10 py-4">
        <div>
            <h1 class="font-bold text-sm">ASAHI NO NIWA</h1>
        </div>
        <ui class="list-none flex font-bold text-sm items-center">
            <li class="h-12"><a class="ps-px h-full " href="/">Work</a></li>
            <li class="h-12"><a class="ps-1 h-full" href="/">Blog</a></li>
        </ui>
    </nav>
</header>